<div class="flex flex-wrap gap-8">
  {{ range sort .cities "name" }}
    <div class="space-y-1">
      <h6 class="text-2xl text-nowrap">{{ .name }}</h6>

      <ul class="space-y-1">
        {{ range sort .spaces "name" }}
          <li class="text-xl font-light text-nowrap space-y-1">
            <div class="flex items-center space-x-2">
              {{ if .url }}
                <a
                  href="{{ .url }}?utm_source=listeningspaces.net&utm_medium=referral"
                  >{{ .name }}</a
                >
              {{ else }}
                <div>
                  {{ .name }}
                </div>
              {{ end }}
              <a
                href="{{ .map }}"
                class="w-6 opacity-50 hover:opacity-70"
                aria-label="Google Maps link for {{ .name }}"
              >
                {{ with resources.Get "images/map.svg" | resources.Fingerprint }}
                  <img src="{{ .RelPermalink }}" alt="Map" />
                {{ end }}
              </a>
            </div>

            <div class="opacity-70 flex items-center space-x-2">
              {{ if in .tags "cafe" }}
                {{ partial "space-tag.html" (dict "icon" "images/coffee.svg" "name" "Cafe") }}
              {{ end }}
              {{ if in .tags "bar" }}
                {{ partial "space-tag.html" (dict "icon" "images/martini.svg" "name" "Bar") }}
              {{ end }}
              {{ if in .tags "restaurant" }}
                {{ partial "space-tag.html" (dict "icon" "images/utensils.svg" "name" "Restaurant") }}
              {{ end }}
            </div>
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
</div>
