<header class="flex flex-wrap items-end sm:flex-nowrap justify-between">
  {{ with resources.Get "images/drawings/speaker.svg" | fingerprint }}
    <img
      src="{{ .RelPermalink }}"
      class="h-28 w-28 sm:h-[120px] sm:w-24"
      alt="Speaker"
    />
  {{ end }}
  <h1
    class="order-first sm:order-none mb-2 sm:mb-0 w-full sm:w-auto text-4xl sm:text-6xl text-center sm:text-left leading-none uppercase"
  >
    <a href="/" class="no-underline"
      >Listening<br class="hidden sm:block" /><span class="sm:hidden"> </span
      >Spaces</a
    >
  </h1>
  {{ with resources.Get "images/drawings/turntable.svg" | fingerprint }}
    <img
      src="{{ .RelPermalink }}"
      class="w-24 h-24 sm:w-32 sm:h-24 min-w-10 shrink"
      alt="Turntable"
    />
  {{ end }}

  {{ with resources.Get "images/drawings/speaker.svg" | fingerprint }}
    <img
      src="{{ .RelPermalink }}"
      class="scale-x-[-1] h-28 w-28 sm:h-[120px] sm:w-24"
      alt="Speaker"
    />
  {{ end }}
</header>
